/*!* Bootstrap v3.1.1(http://getbootstrap.com) * Copyright 2011-2014 Twitter,Inc. * Licensed under MIT(https://github.com/twbs/bootstrap/blob/master/LICENSE) */
/*!normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    display: table;
    margin: auto;
}

body {
    margin: 0;
    display: table-cell;
    vertical-align: top;
}

html, body {
    height: 100%;
}

h1 { 
    text-align: center 
}

a {
    color: #428bca;
    text-decoration: none
}

a:hover,a:focus {
    color: #2a6496;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

table>thead{
    margin-bottom: 2px;
    border-bottom: 2px solid #ddd;
}

table>tbody>tr>td {
    padding: 6px;
    text-align:center;
    vertical-align: middle;
    border-top: 0;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
}

.col-pair {
    width: 40px;
}

.col-date {
    width: 100px;
}

.col-price {
    width: 100px;
}

.col-profit {
    width: 100px;
}

.col-labels {
    width: 100px;
}

.col-chart {
    width: 450px;
}

.positive_change {
    color: #093
}

.negative_change {
    color: #d14836
}

#mainTableWrapper table {
    overflow-x:auto;
}